.form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.payment{
    &-form {
        position: relative;
        padding: 50px 100px 76px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 auto;
        box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px 0px;
        background: #fff;
        z-index: 999;
        &__title {
            font-weight: 200;
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 35px;
        }
        &__button {
            padding: 15px 150px;
            background: #6916A1;
            border-radius: 10px;
            color: #fff;
            border: none;
            margin-top: 15px;
            cursor: pointer;
            transition: ease-out .2s;
            &:hover {
                box-shadow: -2px 5px 11px #6916A1
            }
            
        }
        &__img {
            margin: 10px 0;
        }
    }
}

form {
    input {
        margin-top: 15px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        padding: 13px 20px;
        width: 370px;
}

.input-wrap {
   position: relative;
}

.err {
    border: 1px solid #F95D51;
    &-message{
        position: absolute;
        padding: 6px;
        top: 10px;
        margin-left: 10px;
        background: #F95D51;
        color: #fff;
        min-width: 225px;
        &:after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: #F95D51;
            display: inline-block;
            top: 40%;
            left: -5px;
            transform: rotate(45deg);
            
        }

    }
}
    

}
.symbol {
    position: absolute;
    font-size: 20px;
    bottom: 9px;
    right: 12px;
}

.payment-form.exited {
    display: none;
}

.payment-form.exiting {
    display: flex;
    animation: square 600ms ease-out alternate-reverse;
    
}

.payment-form.entering {
    display: flex;
    animation: square 600ms ease-out forwards;
}

@keyframes square {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media( max-width: 885px){
    .payment-form {
        width: 85%;
        padding: 50px 0px 76px;
    }     
    .err {
        border: 1px solid #F95D51;
        &-message{
            position: relative !important;
            display: block;
            margin-left: 0px !important;
            &:after {
              top: -9% !important;
              left: 14px !important; 
            }
    
        }
    } 
}  

@media( max-width: 495px){
  .payment{
    &-form {
        width: 100%;
    &__button{
        padding: 15px 93px !important;
    }
    &__img{
       transform: scale(0.8);
    }
  }
 }
    form {
        input {
            font-size: 12.5px;
            width: 250px;
      }
  }  
 .err {
    &-message{
      max-width: 254px;
      font-size: 14px;
  }
 }
}
