main {
    margin: 0 auto;
    width: 1440px;
  }
@media(max-width: 1480px){
   main {
    width: 1140px;
   }
}

@media(max-width: 1160px){
  main {
   width: 992px;
  }
}

@media(max-width: 992px){
  main {
   width: 90%;
  }
}

